In [ ]:
import pandas as pd

In [ ]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test_x.csv")
submission = pd.read_csv("sample_submission.csv")

In [ ]:
print(train.shape)
print(test.shape)
print(submission.shape)

(45532, 78)
(11383, 77)
(11383, 2)

In [ ]:
train.head()

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
0,0,3.0,363,4.0,1370,5.0,997,1.0,1024,2.0,...,0,1,0,1,1,0,1,0,1,1
1,1,5.0,647,5.0,1313,3.0,3387,5.0,2969,1.0,...,1,1,0,1,1,0,1,0,1,1
2,2,4.0,1623,1.0,1480,1.0,1021,4.0,3374,5.0,...,1,1,0,1,1,1,1,0,1,1
3,3,3.0,504,3.0,2311,4.0,992,3.0,3245,1.0,...,0,0,0,0,1,0,1,0,1,1
4,4,1.0,927,1.0,707,5.0,556,2.0,1062,1.0,...,1,1,1,1,1,0,1,1,1,1

In [ ]:
test.head()

,index,QaA,QaE,QbA,QbE,QcA,QcE,QdA,QdE,QeA,...,wr_04,wr_05,wr_06,wr_07,wr_08,wr_09,wr_10,wr_11,wr_12,wr_13
0,0,3.0,736,2.0,2941,3.0,4621,1.0,4857,2.0,...,0,1,0,0,1,0,1,0,1,1
1,1,3.0,514,2.0,1952,3.0,1552,3.0,821,4.0,...,0,0,0,0,0,0,0,0,0,0
2,2,3.0,500,2.0,2507,4.0,480,2.0,614,2.0,...,0,1,0,1,1,0,1,0,1,1
3,3,1.0,669,1.0,1050,5.0,1435,2.0,2252,5.0,...,1,1,1,1,1,1,1,1,1,1
4,4,2.0,499,1.0,1243,5.0,845,2.0,1666,2.0,...,1,1,0,1,1,0,1,1,1,1

In [ ]:
submission.head()

   index  voted
0      0      0
1      1      0
2      2      0
3      3      0
4      4      0

In [ ]:
from pycaret.classification import*

In [ ]:
clf = setup(data = train, target = 'voted')

In [ ]:
best3 = compare_models(sort = 'AUC', n_select = 3)

In [ ]:
print(best3)

[GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=6627, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False), LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=6627, reg_alpha=0.0, reg_lambda=0.0, silent='warn',
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0), LinearDiscriminantAnalysis(n_components=None, priors=None, shrinkage=None,
                           solver='svd', store_covariance=False, tol=0.0001)]

In [ ]:
best = compare_models(probability_threshold = 0.25)

In [ ]:
best_v = compare_models(sort = "AUC", n_select = 3, cross_validation=False)

In [ ]:
gbc = create_model("gbc")

In [ ]:
print(gbc)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=6627, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [ ]:
gbc_result = pull()
print(gbc_result)

      Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
Fold
0       0.6870  0.7647  0.7759  0.6247  0.6922  0.3812  0.3905
1       0.6863  0.7610  0.7607  0.6271  0.6875  0.3784  0.3856
2       0.7016  0.7716  0.7696  0.6428  0.7005  0.4079  0.4145
3       0.6865  0.7532  0.7633  0.6267  0.6883  0.3791  0.3866
4       0.7047  0.7730  0.7765  0.6448  0.7046  0.4145  0.4217
5       0.7044  0.7784  0.7737  0.6451  0.7036  0.4136  0.4204
6       0.7072  0.7723  0.7744  0.6483  0.7058  0.4190  0.4256
7       0.6938  0.7626  0.7612  0.6355  0.6927  0.3924  0.3988
8       0.6922  0.7591  0.7564  0.6347  0.6902  0.3890  0.3949
9       0.7007  0.7697  0.7806  0.6391  0.7028  0.4073  0.4156
Mean    0.6964  0.7666  0.7692  0.6369  0.6968  0.3982  0.4054
Std     0.0078  0.0073  0.0078  0.0081  0.0069  0.0151  0.0149

In [ ]:
best3 = compare_models(sort = 'AUC', fold = 5, n_select = 3)

In [ ]:
tune_gbc = tune_model(gbc)

In [ ]:
gbc_auto = tune_model(gbc, choose_better = True)

In [ ]:
ens_gbc = ensemble_model(gbc)

In [ ]:
ens_gbc = ensemble_model(gbc, fold = 5)

In [ ]:
ens_gbc_boost = ensemble_model(gbc, method = "Boosting", fold = 5)

In [ ]:
blender = blend_models(best3, fold = 5)